<div class="search__header">
  <div class="search__inner">
    <a href="/">
      <img class="search__header-image" src="img/google.png" alt="Google Logo">
    </a>
    <form action="#" class="search__header-form">
      <label class="search__header-label screenreader-only" for="site-search">Search the site:</label>
      <input class="search__header-input input-search" type="search" id="site-search" name="q">
      <button class="search__header-button button-search">Search</button>
    </form>
  </div>
</div>

<section class="search__result">
  <div class="search__result-inner">
    <span class="search__result-count">{{resultLength}} search results were found</span>

    <ul class="search__result-list">
      {{#each results as |item|}}
      <li class="search__result-item">
        <h2 class="search__result-title"><a class="search__result-title-link"
            href="https://www.google.com/">{{item.title}}</a>
        </h2>
        <p class="search__result-text">{{item.description}}</p>
        <ul class="search__result-innerlist">
          {{#each item.links as |link|}}
          <li class="search__result-inneritem"><a href="{{link.url}}/">{{link.title}}</a></li>
          {{/each}}
        </ul>
      </li>
      {{/each}}
    </ul>
  </div>
</section>